@import '../../../main.scss';

.container-produto{
    display: flex;
    justify-content: space-evenly;
    gap: 10rem;

    .produto {
        width: 30rem;
        border-radius: 25px;
    }

    ul{
        display: flex;
        width: 100%;
        margin-top: 5%;
        justify-content: space-between;

        img{
            width: 6rem;
            border-radius: 15px;
        }
    }
}